<script setup lang="ts">
import {reactive} from "vue";

const props = defineProps({
    color: String,
    bgcColor: String,
    text: String,
    borderColor: String,
    link: String,
    typeTel: Boolean,
    hoverColor: String,
    hoverType: String
})

const styleObject = reactive({
    color: props.color,
    background: props.bgcColor,
    outline: `1px solid ${props.borderColor}`
})


</script>

<template>
    <a class="button" :class="{'button--border' :hoverType === 'border', 'button--bgc' :hoverType === 'bgc', 'button--bgc-white' :hoverType === 'bgc-white', 'button--underline' :hoverType === 'underline', }" :style="styleObject" :href="typeTel ? `tel:${link}` : `${link}`">
        {{text}}
    </a>
</template>

<style lang="scss" scoped>
@import '../../assets/buttons.scss';
</style>