<script lang="ts" setup>
import Logo from '../components/icons/Logo.vue';
import Menu from "../components/Menu.vue";
import Button from "../components/buttons/Button.vue";
import {ref} from "vue";
const headerActive = ref(false);
const hamburger = () =>{
    headerActive.value = !headerActive.value
}
</script>

<template>
    <header class="header" :class="{'active': headerActive}">
        <div class="container">
            <div class="header-wrap">
                <div class="header__main">
                    <div class="logo">
                        <Logo></Logo>
                    </div>
                    <Menu></Menu>
                </div>
                <div class="header__buttons">
                    <Button :type-tel="true" bgc-color="#fff" color="black" hover="hover-link"
                            hover-type="underline" link="+48585066565" text="+48 58 506 65 65"/>
                    <Button :type-tel="false" bgc-color="#fff" border-color="#000" color="#242221"
                            hover-type="border" link="/" text="Zapytaj o ofertę"/>
                    <Button :type-tel="false" bgc-color="#190F14" border-color="#190F14" color="#fff"
                            hover-type="bgc" link="/" text="Umów jazdę próbną"/>
                </div>

            </div>
        </div>
        <div class="hamburger" @click="hamburger" :class="{'active': headerActive}">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>
</template>

<style lang="scss" scoped>
@import '../assets/header.scss';
</style>