<script lang="ts" setup>
import Button from "../components/buttons/Button.vue";
const imageUrl = new URL('/hero-img.jpg', import.meta.url)
console.log(imageUrl);
</script>

<template>
    <div class="hero">
        <div class="hero__background" :style="{ backgroundImage: 'url(' + (imageUrl) + ')' }">
            <div class="hero__content">
                <div class="container">
                    <p class="hero__text global-text-small"><span class="uppercase">CUPRA</span> Formentor</p>
                    <h1 class="hero__header global-text-header">Wejdź do świata Cupra.<br> Poznaj prawdziwą moc <br> i sportowego ducha marki.</h1>
                    <Button :type-tel="false" bgc-color="#DBD3CB" color="#242221"
                            hover-type="bgc-white" link="/" text="Ruszaj na jazdę testową"/>
                </div>
            </div>
        </div>

    </div>
</template>

<style lang="scss" scoped>
@import "../assets/hero.scss";
</style>