<script setup lang="ts">

</script>

<template>
    <ul class="menu">
        <li class="menu__element"><a class="menu__link" href="/">Samochody</a></li>
        <li class="menu__element"><a class="menu__link" href="/">Jazda próbna</a></li>
        <li class="menu__element"><a class="menu__link" href="/">Oferta</a></li>
        <li class="menu__element"><a class="menu__link" href="/">Salony Cupra</a></li>
    </ul>
</template>

<style scoped lang="scss">

@import '../assets/menu.scss';
</style>