<script lang="ts" setup>
import Button from "../components/buttons/Button.vue";
const imgOne = new URL('/second-one.jpg', import.meta.url)
const imgTwo = new URL('/second-two.jpg', import.meta.url)

</script>

<template>
    <div class="second">
        <div class="second__background">
            <div class="container">
                <div class="second__content">
                    <div class="second__content-one">
                        <h2 class="second__header global-text-header">WYPRÓBUJ</h2>
                        <p class="second__text global-text-small">Zobacz, poczuj i przekonaj się, czym jest CUPRA.
                            Poznaj <br>
                            samochody, które są wyjątkowym połączeniem technologii, <br> mocy, elegancji i komfortu.
                        </p>
                    </div>
                    <div class="second__images image">
                        <div class="image__one">
                            <div class="image-wrap">
                                <img alt="" :src="imgOne">
                            </div>
                            <p class="image__text">Design inspirowany wyścigami, stworzony z
                                niezwykłą dbałością o detale.
                            </p>
                        </div>
                        <div class="image__two">
                            <p class="image__text image__text-mobile">Podróżuj z rozmachem bez kompromisów.
                            </p>
                            <div class="image-wrap">
                                <img alt="" :src="imgTwo">
                            </div>
                            <p class="image__text image__text-desktop">Podróżuj z rozmachem bez kompromisów.
                            </p>
                        </div>
                    </div>
                    <div class="second__content-two content-two">
                        <h3 class="content-two__header">Tylko dla odważnych</h3>
                        <p class="content-two__text global-text-small">Model CUPRA, który idealnie wpisuje się w DNA marki.<br> Unikalny SUV coupé, wyjątkowy, odważny i innowacyjny –<br> zapewni Ci to, co najlepsze w marce CUPRA.
                        </p>
                        <Button :type-tel="false" bgc-color="#DBD3CB" color="#242221"
                                hover-type="bgc-white" link="/" text="Ruszaj na jazdę testową"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import "../assets/second.scss";
</style>