<script lang="ts" setup>
import carsData from '../lib/data/carsData.json'
import {computed, ref} from 'vue'
import Button from "./buttons/Button.vue"

import {useKeenSlider} from 'keen-slider/vue.es'
import 'keen-slider/keen-slider.min.css'

const current = ref(0)
const [container, slider] = useKeenSlider({
    initial: current.value,
    slideChanged: (s) => {
        current.value = s.track.details.rel
        console.log(s.track.details);
    },
    slides: {origin: "center", perView: 1.7, spacing: 0},
    breakpoints: {
        '(min-width: 320px)': {
            slides: {origin: "center", perView: 1.1, spacing: 50},
        },
        '(min-width: 1024px)': {
            slides: {origin: "center", perView: 1.7, spacing: 0},
        },
    },
})

const data = computed(() => {
    return carsData
})

</script>

<template>

    <div class="navigation-wrapper">

        <div ref="container" class="keen-slider">
            <div v-for="(car, index) in data" :key="index" :class="`number-slide${index}`"
                 class="keen-slider__slide car">

                <h4 class="car__name">{{ car.name }}</h4>
                <img :src="`${car.image}`"
                     alt="" class="car__image" height="10px" width="10px">
                <div class="car__details">
                    <p class="car__details-main"> {{ car.title }}</p>
                    <div class="car__details-wrap">
                        <p class="car__details-main car__detail">{{ car?.attrs?.first }}</p>
                        <p class="car__details-main car__detail car__detail-price">{{ car?.attrs?.second }} <span
                            class="car__detail-price-currency">{{ car.pricePerMonth }} {{ car.currency }}</span></p>
                        <p class="car__details-main car__detail car__detail-price">{{ car?.attrs?.third }} <span
                            class="car__detail-price-currency">{{ car.pricePerUnit }} {{ car.currency }}</span></p>
                    </div>
                </div>
                <Button :type-tel="false" bgc-color="#190F14" border-color="#190F14" color="#fff"
                        hover-type="bgc" link="/" text="Umów jazdę próbną"/>
            </div>
        </div>
        <div class="overlay-left"></div>
        <div class="overlay-right"></div>
        <div class="arrow-box"  v-if="slider"
             :class="{
          arrow: true,
          'arrow--left': true,
          'arrow--disabled': current === 0,
        }" @click="slider.prev()">
            <svg
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"

            >
                <path
                    d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
                ></path>
            </svg>
        </div>
        <div class="arrow-box" v-if="slider"
             :class="{
          arrow: true,
          'arrow--right': true,
          'arrow--disabled': current === slider.track.details.slides.length - 1,
        }"
             @click="slider.next()">

        <svg
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path>
        </svg>
        </div>

    </div>
</template>

<style scoped>
@import '../assets/slider.scss';
</style>