/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}


.container {
    width: 100%;
    max-width: 1404px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.global-text-header {
    color: white;
    font-weight: 300;
    font-size: 30px;
    line-height: 34.20px;
    word-wrap: break-word;
    @media only screen and (min-width: 420px) {
        font-size: 30px;
        line-height: 34.20px;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 60px;
        line-height: 64.20px;
    }
}

.global-text-small {
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
    margin-bottom: 16px;
    @media only screen and (min-width: 420px) {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }
}

.uppercase{
    text-transform: uppercase;
}