@import './base';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: fit-content;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 300% */
    padding: 0 24px;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    &--border {
        &:hover {
            outline: 2px solid #000 !important;
        }
    }
    &--underline {
        &:hover {
            text-decoration: underline;
        }
    }
    &--bgc {
        &:hover {
            background: #494949 !important;
        }
    }
    &--bgc-white {
        &:hover {
            background: #fff !important;
        }
    }
}

.button--border {

}