@import './base';

.header {
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px;
    background: white;
    height: 55px;
    overflow: hidden;
    @media only screen and (min-width: 1380px) {
        justify-content: space-between;
        flex-direction: row;
        gap: 96px;
        height: inherit;
    }

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        @media only screen and (min-width: 1380px) {
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            gap: 96px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 24px;
        @media only screen and (min-width: 1380px) {
            flex-direction: row;
        }
    }
}

.header.active {
    height: 100vh
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media only screen and (min-width: 1380px) {
        justify-content: space-between;
        flex-direction: row;
    }
}

.buttons-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.hamburger {
    position: absolute;
    top: 20px;
    right: 35px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    @media only screen and (min-width: 1380px) {
        display: none;
    }

    span {
        width: 35px;
        height: 3px;
        border-radius: 30px;
        background: black;
        display: block;
    }
}
