@import './base';

.hero {
    width: 100%;
    position: relative;

    &__background {
        height: 70vh;
        width: 100%;
        background-size: cover;
        background-position: center right;
        @media only screen and (min-width: 420px) {
            font-size: 30px;
            line-height: 34.20px;
            background-position: center right;
            height: 70vh;
        }
        @media only screen and (min-width: 1024px) {
            height: 884px;
            background-position: inherit;
        }
    }

    &__header{
        margin-bottom: 48px;
    }

    &__content {
        position: absolute;
        width: 100%;
        bottom: 128px;
        left: 0;
    }

    &__image {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}
