@import './base';

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 35px;
    padding-inline-start: 0;
    @media only screen and (min-width: 1380px) {
        flex-direction: row;
        gap: 32px;
        margin-bottom: 0;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #242221;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px; /* 162.5% */
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}
