@import './base';

.second {
    width: 100%;
    position: relative;

    &__content {
        width: 100%;
    }

    &__background {
        background: #1B1B1B;
        padding: 104px 0 9px 0;
    }

    &__header {
        margin-bottom: 16px;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 68px;
    }

    &__images {
        display: flex;
        flex-direction: column;
        gap: 32px;
        @media only screen and (min-width: 420px) {
            flex-direction: column;
        }
        @media only screen and (min-width: 1480px) {
            flex-direction: row;
        }
    }

}

.image {
    &__one {
        object-fit: contain;
        width: 100%;
        @media only screen and (min-width: 420px) {
            flex-direction: column;
        }
        @media only screen and (min-width: 1480px) {
            object-fit: cover;
        }
    }

    &__two {
        object-fit: cover;
        width: 100%;
        transform: translateY(60px);
        margin-bottom: 32px;
        @media only screen and (min-width: 420px) {
            flex-direction: column;
        }
        @media only screen and (min-width: 1480px) {
            flex-direction: row;
        }
    }

    &__text{
        margin-top: 32px;
        color: rgba(255, 255, 255, 0.50);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 143%; /* 22.88px */

    }
    &__text-mobile{
        margin-bottom: 32px;
        display: block;
        @media only screen and (min-width: 1480px) {
            display: none;
        }
    }
    &__text-desktop{
        display: none;
        @media only screen and (min-width: 1480px) {
            display: block;
        }
    }
    .image-wrap{
        img{
            width: 100%;
        }
        @media only screen and (min-width: 420px) {
            img{
                width: 100%;
            }
        }
        @media only screen and (min-width: 1480px) {
            img{
                width: inherit;
            }
        }
    }
}

.content-two{
    transform: translateY(-95px);
    &__header{
        color: #FFF;
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: 110%; /* 44px */
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    &__text{
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 24px */
        margin-bottom: 32px;
    }
}