@import './base';

.navigation-wrapper {
    position: relative;
    padding-top: 104px;
    padding-bottom: 104px;
    background: #f5f5f5;
}

.arrow-box {
    width: 50px !important;
    height: 50px !important;
    background: white;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    display: none;
    @media only screen and (min-width: 1024px) {
        display: flex;
    }
}

.arrow {
    svg {
        width: 10px !important;
        height: 14px !important;
        fill: #000;
    }
}

.arrow--left {
    left: 20.94%;
}

.arrow--right {
    left: auto;
    right: 20.94%;
}

.arrow--disabled {
    cursor: default;
    background: rgba(255, 255, 255, 0.5);
    svg {
        fill: rgba(0, 0, 0, 0.5);
    }
}

.car {
    background: #F5F5F5;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #000;
    height: 80vh;
    @media only screen and (min-width: 1024px) {
        height: 635px;
    }

    &__name {
        color: #000;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 108%; /* 51.84px */
        margin-bottom: 76px;
        min-height: 100px;
    }

    &__image {
        width: auto;
        height: 135px;
        margin-bottom: 38.45px;
        @media only screen and (min-width: 1024px) {
            height: 260.547px;
        }
    }

    &__details {
        margin-bottom: 52px;
    }

    &__details-main {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px; /* 142.857% */
    }

    &__details-wrap {
        margin-top: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        @media only screen and (min-width: 1024px) {
            flex-direction: row;
            gap: 48px;
        }
    }

    &__detail {
        max-width: 140px;
    }

    &__detail-price {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    &__detail-price-currency {
        color: #000;

        text-align: center;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 120% */
    }
}

.overlay-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: rgba(245, 245, 245, 0.5);
    display: none;
    @media only screen and (min-width: 1024px) {
        display: block;
    }
}

.overlay-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: rgba(245, 245, 245, 0.5);
    display: none;
    @media only screen and (min-width: 1024px) {
        display: block;
    }
}

