<template>
    <svg xmlns="http://www.w3.org/2000/svg" width="142" height="21" viewBox="0 0 142 21" fill="none">
        <g clip-path="url(#clip0_439_2532)">
            <path d="M20.9368 4.19297L16.6437 6.29341L19.2605 7.29753C19.7995 7.50245 20.4409 7.7668 20.6765 8.4041C20.9122 9.0414 20.5618 9.63362 20.2482 10.1357L18.8138 12.3734C17.1184 15.0278 15.4217 17.6802 13.7236 20.3305C13.7236 19.5108 13.7236 18.6911 13.7236 17.8714C14.3738 15.8222 15.0064 13.773 15.6211 11.7238C15.7946 11.1391 15.9668 10.5544 16.1375 9.96969C16.24 9.61723 16.1744 9.40616 15.8342 9.23812L13.2236 7.95327L10.6231 9.23608C10.2829 9.40411 10.2133 9.61518 10.3198 9.96765C10.4892 10.5537 10.6614 11.1384 10.8362 11.7218C11.4483 13.7792 12.0808 15.8284 12.7338 17.8694C12.7338 18.6891 12.7338 19.5088 12.7338 20.3285C11.0329 17.6781 9.3362 15.0258 7.64355 12.3714L6.20911 10.1336C5.89353 9.63977 5.53901 9.05575 5.78082 8.40205C6.02263 7.74835 6.65788 7.50245 7.19682 7.29548L9.81367 6.29136L5.52057 4.19092L6.85871 6.43481L4.64556 7.28523C3.09499 4.8576 1.54647 2.42724 0 -0.00585938C4.4058 1.55564 8.8116 3.13148 13.2297 4.64175C17.6539 3.13148 22.0536 1.55769 26.4594 -0.00585938C24.9157 2.4245 23.3678 4.85214 21.8159 7.27703L19.6027 6.42661L20.9409 4.18273" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M105.073 7.40929V9.71056H117.446C117.567 9.715 117.685 9.67139 117.774 9.58924C117.863 9.5071 117.916 9.39307 117.922 9.27203V7.84987C117.916 7.72883 117.863 7.6148 117.774 7.53265C117.685 7.45051 117.567 7.4069 117.446 7.41135L105.073 7.40929ZM101.954 15.061V5.26172H117.995C119.485 5.26172 120.694 6.17362 120.694 7.55274V9.57941C120.694 10.9954 119.752 11.9544 118.797 11.9544L120.932 15.0651H117.448L115.604 12.0774H105.073V15.0651L101.954 15.061Z" fill="black"/>
            <path d="M56.8719 15.0672H40.8306C39.3409 15.0672 38.1318 13.9483 38.1318 12.5692V7.76176C38.1318 6.38264 39.3409 5.26377 40.8306 5.26377H56.8719V7.94618H41.3696C41.3083 7.94316 41.247 7.95245 41.1894 7.97352C41.1317 7.99459 41.0789 8.027 41.034 8.06884C40.9891 8.11068 40.9531 8.1611 40.928 8.21711C40.9029 8.27313 40.8893 8.3336 40.888 8.39496V11.9544C40.8934 12.0755 40.9463 12.1895 41.0354 12.2717C41.1244 12.3538 41.2424 12.3974 41.3634 12.393H56.8719V15.0672ZM78.1529 5.26172V12.5692C78.1529 13.9483 76.9439 15.0672 75.4541 15.0672H62.0892C60.5994 15.0672 59.3903 13.9483 59.3903 12.5692V5.26377H62.6097V11.9462C62.612 12.0063 62.6262 12.0652 62.6514 12.1198C62.6766 12.1743 62.7123 12.2234 62.7564 12.2641C62.8006 12.3048 62.8523 12.3364 62.9087 12.3572C62.9651 12.3779 63.0251 12.3872 63.0851 12.3848H74.4541C74.5752 12.3892 74.6931 12.3456 74.7822 12.2635C74.8712 12.1813 74.9242 12.0673 74.9295 11.9462V5.26377L78.1529 5.26172ZM138.967 9.70236V7.40724H126.721C126.6 7.4028 126.482 7.44641 126.393 7.52856C126.304 7.61071 126.251 7.72473 126.246 7.84578V9.69006C126.246 9.66957 134.596 9.69211 138.967 9.70236ZM142 15.0672H138.967V12.0835H126.262V15.0713H123.229L123.203 7.76381C123.203 6.38469 124.412 5.26582 125.902 5.26582H141.943C141.971 5.28631 141.988 5.27607 141.99 5.26582L142 15.0672ZM83.6817 9.71056H96.1983C96.3193 9.715 96.4373 9.67139 96.5263 9.58924C96.6154 9.50709 96.6683 9.39307 96.6737 9.27202V7.84987C96.6683 7.72883 96.6154 7.6148 96.5263 7.53265C96.4373 7.4505 96.3193 7.4069 96.1983 7.41134H83.6817V9.71056ZM96.7372 5.26377C98.7188 5.26377 99.436 6.17567 99.436 7.55478V9.58146C99.436 10.9606 98.8212 12.0794 96.7372 12.0794H83.6817V15.0672H80.6427V5.26377H96.7372Z" fill="black"/>
        </g>
        <defs>
            <clipPath id="clip0_439_2532">
                <rect width="142" height="20.3302" fill="white"/>
            </clipPath>
        </defs>
    </svg>
</template>
