<script lang="ts" setup>
import Header from './components/Header.vue'
import Hero from './components/Hero.vue'
import Second from './components/Second.vue'
import Slider from './components/Slider.vue'
</script>

<template>
    <Header></Header>
    <main>
        <Hero></Hero>
        <Second></Second>
        <Slider></Slider>
    </main>
</template>

<style lang="scss" scoped>
@import './assets/main.scss';
</style>
